<div id="navbar-container">
  <ul>
    <li>
      <button mat-mat-raised-button [routerLink]="['/admin/moderation']" routerLinkActive="router-link-active"> Administrateur </button>
    </li>
    <li>
      <button mat-mat-raised-button [routerLink]="['/user/discount']" routerLinkActive="router-link-active"> Utilisateur </button>
    </li>
    <li>
      <button mat-mat-raised-button [routerLink]="['/admin/commandes']" routerLinkActive="router-link-active"> Commandes </button>
    </li>
  </ul>
</div>

