<div class="container">
  <div *ngIf="this.commande">
    <table>

      <tr>
        <th>Nom & prénom</th>
        <th>Référence de la commande</th>
        <th>Référence du produit</th>
        <th>Nom du produit</th>
        <th>Quantité acheté</th>
        <th>Prix du produit</th>
      </tr>

      <tr *ngFor="let product of getProductByName(); let i = index ">
        <th>{{this.getLastAndFirstName()}} </th>
        <th>{{ this.commande._id }}</th>
        <th> {{product.id}} </th>
        <th> {{product.item}} </th>
        <th> {{commande.quotation[i].quantity}} </th>
        <th> {{product.price}}€ </th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="priceTotal">PRIX TOTAL HT :</th>
        <th class="priceTotal">{{getPriceTotHT()}} €</th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="priceTotal">PRIX AVEC REMISE :</th>
        <th class="priceTotal">{{getPriceWithRemise()}} €</th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="priceTotal">PRIX TOTAL TTC :</th>
        <th class="priceTotal">{{getPriceWithTVA()}} €</th>
      </tr>

    </table>
  </div>
</div>
