<div class="container">
  <div>
    <div>
      <table>
        <tr>
          <th>Nom & prénom</th>
          <th>Référence de la commande</th>
          <th>Référence du produit</th>
          <th>Nom du produit</th>
          <th>Quantité acheté</th>
          <th>Prix du produit</th>
        </tr>
        <tr *ngFor="let product of getProductByName(); let i = index ">
          <th>{{this.getLastAndFirstName()}} </th>
          <th>{{ this.commande._id }}</th>
          <th> {{product.id}} </th>
          <th> {{product.item}} </th>
          <th> {{commande.quotation[i].quantity}} </th>
          <th> {{product.price}}€ </th>
        </tr>
      </table>
    </div>
  </div>
        <!-- total HT -->
        <div >
          <!-- <span>Prix total HT : {{getPriceTotHT()}}</span> -->
        </div>

    <!-- total avec la remise client -->
        <div >
          <!-- <span>Total avec la remise : {{getPriceTotHT()}}</span> -->
        </div>

        <div >
          <!-- <span>Prix Total TTC : {{getPriceWithTVA()}}</span> -->
        </div>

    <!-- total TTC  -->
</div>
