<div>
  <div class="button" id="button-5" cols="1">
    <div id="translate"></div>
    <button mat-raised-button (click)="showModalForm()">Create a user</button>
  </div>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>
    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let user"> {{user['first-name']}} </td>
    </ng-container>

    <!-- lastname Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let user"> {{user['last-name']}} </td>
    </ng-container>

    <!-- groupe Column -->
    <ng-container matColumnDef="groupe">
      <th mat-header-cell *matHeaderCellDef> Groupe </th>
      <td mat-cell *matCellDef="let user"> {{user.groupe}} </td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let user">
        <button mat-mini-fab (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let user;">
        <button mat-mini-fab (click)="deleteUser(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
