<form
  [formGroup]="userForm"
  (ngSubmit)="onUserFormSubmit()"
  class="container"
>

  <div class="title">
    <h2>NEW USER</h2>
    <mat-icon (click)="closeForm()" class="close_dialog">close</mat-icon>
  </div>


  <div class="Line">

    <mat-form-field class="field-width" >
      <mat-label>id</mat-label>
      <input
      formControlName="id"
      matInput placeholder="id"

      >
    </mat-form-field>

      <mat-form-field class="field-width" >
        <mat-label>First name</mat-label>
        <input
        formControlName="first-name"
        matInput placeholder="Your Firstname"

        >
      </mat-form-field>

      <mat-form-field class="field-width">
        <input
        type="text"
        formControlName="last-name"
        matInput placeholder="Your LastName">
      </mat-form-field>

      <mat-select placeholder="Sélectionnez un groupe" formControlName="groupe" >
        <mat-option *ngFor="let groupe of getGroupe; let i = index">{{groupe.groupe}}</mat-option>
      </mat-select>

  </div>




  <!-- Validation et reset du formulaire  -->
  <div class="example-button-row">
    <button mat-raised-button type="submit">{{ libelle }}</button>

    <button type="button" mat-raised-button (click)="onReset()">Reset</button>
  </div>

</form>



